body {
    background-color:#d9d9d9;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 0 !important;
}

/*########## header - logo ##########*/

.header{
    height: 26vh;
}

header {
    min-height: 200px;
    width: 99%;
    background-color: #135425;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.napis {
    margin: auto;
    font-size: 70px;
    text-align: center;
    color: #ffffff;
    font-family: 'Pacifico', cursive;
    padding-bottom: 15px;
    border-bottom-left-radius: 5px;
}
@media (max-width: 722px) {
    .napis{
      font-size: 50px;
    }
  }

.img {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}
@media (max-width: 1162px) {
    .img {
      display: none;
    }
  }


/*########## menu główne ##########*/

nav {
    width: 100%;
    padding: 5px 0;
    text-align: center;
    background-color: #ffffff;
    border-bottom: 2px solid #3a3a3a;
    border-top: 2px solid #3a3a3a;
    transition: 0.5s;
    margin-bottom: auto;
}

nav ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    line-height: 275%;
    font-size: 15px;
    display: inline-block;
}

nav ol a {
    color: #5a5a5a;
    text-decoration: none;
    display: block;
    transition: 0.5s;
}

nav ol>li {
    float: left;
    width: 200px;
    height: 40px;
    border-right: 2px dashed #3a3a3a;
}

nav ol>li:first-child {
    border-left: 2px dashed #3a3a3a;
}

nav ol>li:hover {
    background-color: #8a8a8a;
}

nav ol>li:hover>a {
    color: #ffffff;
}

nav ol>li>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    color: #ffffff;
    display: none;
    transition: 0.5s;
}

nav ol>li:hover>ul {
    display: block;
}

nav ol>li>ul>li {
    background-color: #8a8a8a;
    position: relative;
    z-index: 100;
    border-top: 2px dashed #3a3a3a;
}

nav ol>li>ul>li>a {
    color: #ffffff;
}

nav ol>li>ul>li:hover {
    background-color: #ffffff;
}

nav ol>li>ul>li:hover>a {
    color: #8a8a8a;
}

.sticky {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

#container {
    width: 100%;
    display: flex;
    height: min-content;
    height: 58vh;
    margin-top: 10px;
    justify-content: space-around;
}
@media (max-width: 1213px) {
    #container {
      height: 54vh;
    }
    .header {
        height: 30vh;
    }

    @media (max-width: 607px) {
        #container {
      height: 50vh;
    }
    .header {
        height: 34vh;
    }
    }
  }

main{
    background-color: #fff;
    color: #135425;
    flex-grow: 2;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
    overflow: scroll;
    overflow-x: hidden;
}
@media (min-width: 767px){
    main {
        padding-left: 10%;
        padding-right: 10%;
    }
}

table {
    background-color: #fff;
    color: #135425;
}

aside{
    background-color: #135425;;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
}
@media (max-width: 767px) {
    aside {
      display: none;
    }
  }

.add {
    min-height: 98%;
    min-width: 118px;
    max-height: 99%;
}

.zsti {
    color: #135425;
    text-decoration: none;
    font-style: italic;
}

footer {
    width: 100%;
    height: 14vh;
    background-color: #135425;
    color: #fff;
    text-align: center;
    border-top: 2px solid #3a3a3a;
    flex: content;
}
